<div class="page-container">
    
    <!-- Contenu principal -->
    <div class="container">
      <div class="form-container">
          
        <h2 class="title">Inscription</h2>
        <p class="subtitle">Option1: Donner les informations</p>
    
        <form>
          <!-- Deuxième ligne : Téléphone, Email, Département -->
          <div class="row">
           
           
            <div class="input-group">
              <label for="description">description</label>
              <input id="description" type="text" placeholder="Entrer une description" />
            </div>
            <div class="input-group">
              <label for="departement">nom du departement</label>
              <input id="departement" type="text" placeholder="Entrer le  nom du du departement" />
             
            </div>
          </div>
    
          <!-- Boutons -->
          <div class="buttons">
            <button type="submit" class="btn inscrire">Inscrire</button>
            <button type="button" class="btn retour" (click)="retourVersListeEmployes()">Retour</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  