<div class="layout">
  <app-sidebar></app-sidebar>
  <div class="container mt-4">
    <h2>Liste des utilisateurs</h2>
  
    <!-- Champ de recherche -->
    <div class="form-group">
  
      <input
        id="search"
        class="form-control"
        type="text"
        [formControl]="searchControl"
        placeholder="Rechercher un utilisateur par nom"
      />
    </div>
  
    <!-- Table des utilisateurs -->
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Rôle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>{{ user.id }}</td>
          <td>{{ user.nom }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Pagination -->
    <ngb-pagination
      [collectionSize]="totalUsers"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
      aria-label="Page navigation"
    ></ngb-pagination>
  </div>
</div>

