<div class="main-container">
    <app-sidebar></app-sidebar>
  
    <div class="content">
      <div class="header">
        <h2>Listes des Utilisateurs</h2>
        <input type="text" placeholder="Rechercher..." class="search-bar" />
      </div>
  
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th><input type="checkbox" /></th>
              <th>Photo</th>
              <th>Prénom et nom</th>
              <th>État de la carte</th>
              <th>Email</th>
              <th>Telephone</th>
              <th>Assignation</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let user of users">
              <tr *ngIf="user.role !== 'vigile'">
                <td><input type="checkbox" /></td>
                <td><img [src]="user.photo" alt="Photo utilisateur" style="width: 50px; height: 50px; object-fit: cover;"/></td>
                <td>{{user.prenom }} {{ user.nom }}</td>
                <td>
                  <span *ngIf="user.etat == 'active'" style="color: green;">{{ user.etat }}</span>
                  <span *ngIf="user.etat == 'inactive'" style="color: rgb(146, 21, 21);">{{ user.etat }}</span>
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.telephone }}</td>
                <td *ngIf="user.cardId == null">
                  <button class="assign-button" [routerLink]="['/assigner-carte', user._id]">
                    Assigner
                  </button>
                </td>
                <td *ngIf="user.cardId != null">
                  {{ user.cardId }}
                </td>
                <td *ngIf="user.cardId != null ">
                  <button class="delete-button" (click)="deleteAssign(user._id)">
                    <span>&#x2716;</span>
                  </button>
                </td>
                <td *ngIf="user.cardId == null">
                  Aucune
                </td>
              </tr>
            </ng-container>
            
          </tbody>
        </table>
      </div>
  
      <div class="pagination">
        <button class="previous">Previous</button>
        <span>Page 1 of 10</span>
        <button class="next">Next</button>
      </div>
    </div>
  </div>
  