<div class="main-container">
    <app-sidebar></app-sidebar>
  
    <div class="content">
      <div class="header">
        <h2>Listes des Utilisateurs</h2>
        <input type="text" placeholder="Rechercher..." class="search-bar" />
      </div>
  
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th><input type="checkbox" /></th>
              <th>Prénom et nom</th>
              <th>État de la carte</th>
              <th>Email</th>
              <th>Telephone</th>
              <th>Assignation</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td><input type="checkbox" /></td>
              <td>{{ user.nom }}</td>
              <td *ngIf="user.etat == 'active'">
                <span style="color: green;">{{ user.etat}}</span>
              </td>
              <td *ngIf="user.etat == 'inactive'">
                <span style="color: rgb(146, 21, 21);">{{ user.etat}}</span>
              </td>
              <td>{{ user.email }}</td>
              <td>{{ user.telephone }}</td>
              <td>
                <button class="assign-button" [routerLink]="['/assigner-carte', user._id]">
                  Assigner
                </button>
              </td>
              
              <td>
                <button class="delete-button">
                  <span>&#x2716;</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="pagination">
        <button class="previous">Previous</button>
        <span>Page 1 of 10</span>
        <button class="next">Next</button>
      </div>
    </div>
  </div>
  